/*
* Cara Quinlan
* Due date
* Project Name and Description
*/

/* The universal selector */


/* Body attributes here */

body {

}
table,td,th { border:1px solid lightpink; }

table { border-collapse:collapse; }

thead { background-color: azure; }
tfoot { background-color:plum;}